<div class="min-h-screen relative flex items-center justify-center bg-[#002E5E]">

    <img src="assets/Círculos.png" alt="background-image" class="absolute inset-0 w-full h-full object-cover">

    <div class="relative z-10 bg-[#F0F0F0] bg-opacity-90 p-8 rounded-xl shadow-lg w-full max-w-2xl my-8 ">

        <div class="flex items-center gap-4 mb-4">
            <img src="assets/LOGO.png" alt="Logo Ucelo" class="w-16 h-16">
            <h2 class="anton-font text-[#002E5E] text-4xl font-extrabold">Cadastro</h2>
        </div>

        <p class="abel-font text-left">Olá! Seja bem-vindo(a) ao autocadastro!</p>
        <p class="abel-font text-left">Preencha os campos abaixo e posteriormente finalize enviando seus dados.
            Um funcionário Ucelo logo aprovará sua conta e poderá ter acesso as páginas de auxilio ao cliente!</p>
        
        <form class="mt-6 grid grid-cols-2 gap-x-6 gap-y-4">
            
        <!-- Input CNPJ -->
            <div class="w-full">
                <label class="abel-font text-black font-bold text-base">CNPJ</label>
                <div class="relative">
                    <input placeholder="Insira o seu CNPJ"
                           class="w-full p-2 pl-10 border-2 border-gray-300 bg-[#F5F5F5] rounded-lg hover:outline-none hover:ring-2 hover:ring-[#002E5E] transition focus:outline-none focus:ring-2 focus:ring-[#002E5E]"
                           type="text">
                    <img src="icons/Company.png" alt="CNPJ"
                         class="w-4 h-4 absolute left-3 top-1/2 transform -translate-y-1/2">
                </div>
            </div>

        <!-- Input Nome Responsável -->
            <div class="w-full">
                <label class="abel-font text-black font-bold text-base">Nome responsável</label>
                <div class="relative">
                    <input placeholder="Nome completo do responsável"
                           class="w-full p-2 pl-10 border-2 border-gray-300 bg-[#F5F5F5] rounded-lg hover:outline-none hover:ring-2 hover:ring-[#002E5E] transition focus:outline-none focus:ring-2 focus:ring-[#002E5E]"
                           type="text">
                    <img src="icons/Person.png" alt="responsável"
                         class="w-4 h-4 absolute left-3 top-1/2 transform -translate-y-1/2">
                </div>
            </div>

        <!-- Input Razão Social -->
            <div class="w-full">
                <label class="abel-font text-black font-bold text-base">Razão Social</label>
                <div class="relative">
                    <input placeholder="Insira a razão social da empresa"
                           class="w-full p-2 pl-10 border-2 border-gray-300 bg-[#F5F5F5] rounded-lg hover:outline-none hover:ring-2 hover:ring-[#002E5E] transition focus:outline-none focus:ring-2 focus:ring-[#002E5E]"
                           type="text">
                    <img src="icons/Google Docs.png" alt="Razão Social"
                         class="w-4 h-4 absolute left-3 top-1/2 transform -translate-y-1/2">
                </div>
            </div>

        <!-- Input Celular Responsável -->
            <div class="w-full">
                <label class="abel-font text-black font-bold text-base">Celular responsável</label>
                <div class="relative">
                    <input placeholder="Insira o celular do responsável"
                           class="w-full p-2 pl-10 border-2 border-gray-300 bg-[#F5F5F5] rounded-lg hover:outline-none hover:ring-2 hover:ring-[#002E5E] transition focus:outline-none focus:ring-2 focus:ring-[#002E5E]"
                           type="tel">
                    <img src="icons/iPhone SE.png" alt="tel"
                         class="w-4 h-4 absolute left-3 top-1/2 transform -translate-y-1/2">
                </div>
            </div>

        <!-- Input Nome Fantasia -->
            <div class="w-full">
                <label class="abel-font text-black font-bold text-base">Nome Fantasia</label>
                <div class="relative">
                    <input placeholder="Insira o nome fantasia"
                           class="w-full p-2 pl-10 border-2 border-gray-300 bg-[#F5F5F5] rounded-lg hover:outline-none hover:ring-2 hover:ring-[#002E5E] transition focus:outline-none focus:ring-2 focus:ring-[#002E5E]"
                           type="text">
                    <img src="icons/Empresa.png" alt="Nome Fantasia"
                         class="w-4 h-4 absolute left-3 top-1/2 transform -translate-y-1/2">
                </div>
            </div>

        <!-- Input E-mail -->
            <div class="w-full">
                <label class="abel-font text-black font-bold text-base">Email Senha</label>
                <div class="relative">
                    <input placeholder="Insira o e-mail para acesso"
                           class="w-full p-2 pl-10 border-2 border-gray-300 bg-[#F5F5F5] rounded-lg hover:outline-none hover:ring-2 hover:ring-[#002E5E] transition focus:outline-none focus:ring-2 focus:ring-[#002E5E]"
                           type="email">
                    <img src="assets/o-email.png" alt="email"
                         class="w-4 h-4 absolute left-3 top-1/2 transform -translate-y-1/2">
                </div>
            </div>

        <!-- Select Estado e Cidade -->
         <div class="grid grid-cols-2 gap-x-6 gap-y-4">
                <div class="w-full">
                        <label class="abel-font text-black font-bold text-base">Estado</label>
                        <div class="relative">
                        <input placeholder="Selecione o estado"
                                class="w-full p-2 pl-10 border-2 border-gray-300 bg-[#F5F5F5] rounded-lg hover:outline-none hover:ring-2 hover:ring-[#002E5E] transition focus:outline-none focus:ring-2 focus:ring-[#002E5E]"
                                type="text">
                        <img src="icons/Museum.png" alt="Estado"
                                class="w-4 h-4 absolute left-3 top-1/2 transform -translate-y-1/2">
                        </div>
                </div>

                <div class="w-full">
                        <label class="abel-font text-black font-bold text-base">Cidade</label>
                        <div class="relative">
                        <input placeholder="Selecione sua cidade"
                                class="w-full p-2 pl-10 border-2 border-gray-300 bg-[#F5F5F5] rounded-lg hover:outline-none hover:ring-2 hover:ring-[#002E5E] transition focus:outline-none focus:ring-2 focus:ring-[#002E5E]"
                                type="text">
                        <img src="icons/City.png" alt="Cidade"
                                class="w-4 h-4 absolute left-3 top-1/2 transform -translate-y-1/2">
                        </div>
                </div>
         </div>

        <!-- Input Senha -->
            <div class="w-full">
                <label class="abel-font text-black font-bold text-base">Senha</label>
                <div class="relative">
                    <input placeholder="Insira sua senha"
                           class="w-full p-2 pl-10 border-2 border-gray-300 bg-[#F5F5F5] rounded-lg hover:outline-none hover:ring-2 hover:ring-[#002E5E] transition focus:outline-none focus:ring-2 focus:ring-[#002E5E]"
                           type="password">
                    <img src="assets/trancar.png" alt="Senha"
                         class="w-4 h-4 absolute left-3 top-1/2 transform -translate-y-1/2">
                    <img src="assets/olho.png" alt="Mostrar Senha"
                         class="w-4 h-4 absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer">
                </div>
            </div>

        </form>

        <div class="mt-8 justify-center flex">
            <button routerLink="/"
                    class="w-32 abel-font text-xl bg-[#002E5E] cursor-pointer font-bold py-2 px-8 rounded-full border-2 text-white hover:bg-white hover:border-[#002E5E] hover:text-[#002E5E] transition duration-300">
                Finalizar
            </button>
        </div>
    </div>

</div>