<div class="min-h-screen flex flex-col bg-[#002E5E]">
  <div class="flex-grow">
    <img src="assets/Logo_Ucelo.png" alt="Logo Ucelo" class="mx-auto my-8 w-48 h-48">
    <h1 class="tracking-wide font-bold text-white text-center text-5xl titulo-ucelo">BEM-VINDO(A) À UCELO!</h1>
    <h2 class="text-white text-center text-2xl mt-4 font-bold sub-titulo">A FORÇA QUE MOVE</h2>
    <button routerLink="/Login" class="mt-4 sub-titulo [#002E5E] text-white font-bold py-3 px-6 rounded-xl px-24 border-3 text-lg border-white hover:bg-white hover:text-[#002E5E] transition duration-300 mx-auto block">
      Entrar em sua conta
    </button>
    <p class="text-center sub-titulo text-lg text-white font-bold align-middle mt-4">Ou</p>
    <button routerLink="/Cadastro" class="mt-4 sub-titulo [#002E5E] text-white font-bold py-3 px-6 rounded-xl px-32 border-3 text-lg border-white hover:bg-white hover:text-[#002E5E] transition duration-300 mx-auto block">
      Cadastre-se
    </button>
  </div>
</div>